.inputContainer {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;

  label {
    align-self: flex-start;
    color: var(--blue-200);
  }

  div {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-around;
    align-items: center;
    height: 48px;
    width: 432px;
    border-radius: 3px;
    background-color: var(--blue-10);

    input {
      border: 0;
      height: 100%;
      width: 100%;
      padding-inline-start: 20px;
      padding-inline-end: 60px;
      background-color: transparent;
      outline: 0;

      &::-webkit-search-cancel-button {
        display: none;
      }

      &:hover {
        &::placeholder {
          color: var(--blue-200);
          transition: 0.3s;
        }
      }

      &:focus {
        &::placeholder {
          color: var(--blue-200);
          transition: 0.3s;
        }
      }
    }

    div {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 28px;
      height: 28px;
      background-color: var(--blue-800);
      border-radius: 50%;
      position: absolute;
      right: 16px;

      :hover {
        background-color: var(--blue-200);
      }

      svg {
        font-size: 20px;
        background-color: transparent;
        color: var(--gray-20);
      }
    }
  }
}
