.wrapper {
  display: flex;

  main {
    flex: 1;
    height: 100vh;

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-inline: 32px;
    }
  }
}
