.cardContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 300px;
  width: 248px;
  padding: 16px 4px;
  border-radius: 3px;
  background-color: var(--blue-10);

  &:hover {
    animation: zoom both;

    @keyframes zoom {
      from {
        transform: scale(1);
      }
      to {
        transform: scale(1.1);
      }
    }
  }

  .imageArea {
    display: flex;
    width: 168px;
    height: 120px;
    background-color: var(--gray-100);
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    flex-direction: column;
    margin-bottom: 8px;
    position: static;

    svg {
      width: 74px;
      height: 74px;
      color: var(--gray-800);
    }
  }

  h3 {
    text-align: center;
    margin-bottom: 8px;
  }

  .informationArea {
    display: flex;
    flex-direction: column;
    text-align: center;

    p {
      width: 168px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  span {
    text-align: center;
    color: var(--blue-800);
  }
}
