.homePageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    gap: 20px;
    justify-content: center;
    max-width: 800px;

    div {
      flex: 1 1 1 100px;
    }
  }
}
