header.headerContainer {
  background-color: var(--gray-20);
  position: relative;
  padding: 0 32px;
  margin-bottom: 92px;
  box-shadow: 0 0 4px 0 rgba(39, 102, 120, 0.1);

  nav {
    display: flex;
    height: 60px;

    label {
      display: flex;
      margin-right: auto;
      align-self: center;
      text-align: center;
      justify-self: center;
      width: 40px;

      div {
        :first-child {
          :hover {
            color: var(--gray-500);
          }
        }
      }
    }

    ul {
      display: flex;
      flex-wrap: nowrap;
      justify-self: end;
      align-items: center;

      a {
        margin: 0 36px;
      }
    }
  }
}
